
.auth[data-v-50beed16]{position:fixed;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5)
}
.auth>form[data-v-50beed16]{background:#222;padding:2rem;border:2px solid #111
}
.field>label[data-v-50beed16]{display:block
}
.field>label>span[data-v-50beed16]{color:#999
}
.field>input[data-v-50beed16]{font-size:1.5em;font-family:inherit;color:inherit;margin:0 0 0.25rem;padding:0 1.5rem;height:50px;background:transparent;border:2px solid #111;outline:0
}
.submit[data-v-50beed16],.alternative[data-v-50beed16]{text-align:center
}
.submit[data-v-50beed16]{margin:1rem 0
}
.submit>button[data-v-50beed16]{font-size:1.5em;font-family:inherit;color:inherit;padding:0 1.5rem;height:60px;background-color:transparent;border:2px solid #111;outline:0;cursor:pointer;-webkit-transition:background-color ease-out .15s;transition:background-color ease-out .15s;will-change:background-color
}
.submit>button[data-v-50beed16]:hover{background-color:#333
}
.submit>button[disabled][data-v-50beed16]{opacity:.75;cursor:default
}
.error[data-v-50beed16]{margin:1rem 0;background-color:#822;text-align:center
}
.alternative[data-v-50beed16]{border-top:1px solid #111;margin:2rem 0 0;padding:2rem 0 0;text-align:center
}
.alternative>a[data-v-50beed16]{color:#bbb;text-decoration:none;cursor:pointer
}
.alternative>a[data-v-50beed16]:hover{color:#fff
}


.footer[data-v-361cf3ea]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:0.75em;margin-bottom:1rem;color:#ccc
}
.footer>a[data-v-361cf3ea]{color:inherit
}


.header[data-v-cf5af17c]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background:#222;border-bottom:2px solid #111
}
.header>div[data-v-cf5af17c]{max-width:1600px;padding:0 1.75rem;width:100%;height:50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
}
.header>div>div[data-v-cf5af17c]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.nav>a[data-v-cf5af17c]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%;color:inherit;text-decoration:none;outline:0
}
.actions>a[data-v-cf5af17c],.actions>button[data-v-cf5af17c]{font-family:inherit;font-size:inherit;color:inherit;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%;margin:0;padding:0 1.5rem;border:0;outline:0;cursor:pointer;text-decoration:none;background-color:transparent;-webkit-transition:background-color ease-out .15s;transition:background-color ease-out .15s;will-change:background-color;border-left:2px solid #111
}
.actions>a[data-v-cf5af17c]:last-child,.actions>button[data-v-cf5af17c]:last-child{border-right:2px solid #111
}
.actions>a[data-v-cf5af17c]:hover,.actions>button[data-v-cf5af17c]:hover{background-color:#333
}
.dropdown[data-v-cf5af17c]{position:relative;height:100%
}
.dropdown .toggle[data-v-cf5af17c]{display:-webkit-box;display:-ms-flexbox;display:flex;min-width:120px;height:100%;padding:0 1.5rem;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:background-color ease-out .15s;transition:background-color ease-out .15s;will-change:background-color;border-left:2px solid #111
}
.dropdown .toggle>i[data-v-cf5af17c]{display:block;margin-left:1rem;font-style:normal;-webkit-transform:translate(-50%, 0) rotate(90deg);transform:translate(-50%, 0) rotate(90deg);-webkit-transition:-webkit-transform ease-out .15s;transition:-webkit-transform ease-out .15s;transition:transform ease-out .15s;transition:transform ease-out .15s, -webkit-transform ease-out .15s;will-change:transform
}
.dropdown:last-child .toggle[data-v-cf5af17c]{border-right:2px solid #111
}
.dropdown .content[data-v-cf5af17c]{position:absolute;top:100%;right:0;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background:#222;max-height:0;-webkit-transition:max-height ease-out .15s;transition:max-height ease-out .15s;will-change:max-height;overflow:hidden;border:2px solid #111;border-top:0
}
.dropdown .content>a[data-v-cf5af17c]{padding:0.5rem 1rem;color:inherit;text-decoration:none;outline:0;cursor:pointer;border-top:2px solid #111;-webkit-transition:background-color ease-out .15s;transition:background-color ease-out .15s;will-change:background-color
}
.dropdown .content>a[data-v-cf5af17c]:hover{background-color:#333
}
.dropdown:hover .toggle[data-v-cf5af17c]{background-color:#333
}
.dropdown:hover .toggle>i[data-v-cf5af17c]{-webkit-transform:translate(-50%, 0) rotate(-90deg);transform:translate(-50%, 0) rotate(-90deg)
}
.dropdown:hover .content[data-v-cf5af17c]{max-height:6rem
}


.route[data-v-94760a62]{display:-webkit-box;display:-ms-flexbox;display:flex;min-height:calc(100vh - 100px)
}


@font-face{font-family:'Print Char 21';src:url(/assets/841c1eb4c1bfaf943be975a343426ace.ttf)
}
*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box
}
body{margin:0;background:-webkit-gradient(linear, left top, left bottom, from(#555), color-stop(#333), to(#555));background:linear-gradient(#555, #333, #555);background-attachment:fixed;color:#eee;text-shadow:rgba(0,0,0,0.4) 1px 2px;font-family:'Print Char 21';font-size:0.75rem;line-height:1.75rem;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default
}
canvas{vertical-align:middle
}
::-webkit-scrollbar{width:1rem
}
::-webkit-scrollbar-track{background:rgba(0,0,0,0.5)
}
::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.25)
}
::-webkit-scrollbar-thumb:hover{background:rgba(255,255,255,0.5)
}


.listing[data-v-6c5514f3]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:1.5rem;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin:0 auto;max-width:1648px
}
.mesh[data-v-6c5514f3]{margin:1.5rem;border:2px solid #111;width:350px
}
.mesh .meta[data-v-6c5514f3]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:inherit;text-decoration:none;border-top:2px solid #111;overflow:hidden
}
.mesh .meta .title[data-v-6c5514f3],.mesh .meta .creator[data-v-6c5514f3]{white-space:nowrap
}
.mesh .meta .title[data-v-6c5514f3]{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-left:0.75rem
}
.mesh .meta .creator[data-v-6c5514f3]{font-size:0.75em;padding:0 0.75rem 0 0.5rem
}


.pagination[data-v-47c381d4]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:2rem
}
.pagination>a[data-v-47c381d4],.pagination>span[data-v-47c381d4]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:50px;padding:0 1rem;margin:0 0.5rem;color:inherit;text-decoration:none;outline:0;cursor:default;background-color:#222;border:2px solid #111
}
.pagination>a[data-v-47c381d4]{cursor:pointer;-webkit-transition:background-color ease-out .15s, opacity ease-out .15s;transition:background-color ease-out .15s, opacity ease-out .15s;will-change:background-color, opacity
}
.pagination>a.active[data-v-47c381d4],.pagination>a[data-v-47c381d4]:hover{background-color:#333
}
.pagination>a.disabled[data-v-47c381d4]{opacity:.5;cursor:default
}
.pagination>a.disabled[data-v-47c381d4]:hover{background-color:#222
}


.home[data-v-51c35569]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%
}


.frames[data-v-22b8d138]{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;padding:1rem 0 1rem 1rem;overflow-y:scroll
}
.frames img[data-v-22b8d138]{width:100%;vertical-align:middle;border-top:1px solid #000;border-bottom:1px solid #000;-ms-interpolation-mode:nearest-neighbor;image-rendering:-webkit-optimize-contrast;image-rendering:-moz-crisp-edges;image-rendering:-o-pixelated;image-rendering:pixelated;cursor:pointer;opacity:0.5;-webkit-transition:opacity ease-out .15s;transition:opacity ease-out .15s;will-change:opacity
}
.frames img.active[data-v-22b8d138]{opacity:1;cursor:default
}


.editor[data-v-4efd1397]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:0 2rem
}
.title[data-v-4efd1397]{font-size:2.5em;margin:2rem auto 1rem
}
.title>input[data-v-4efd1397]{width:500px;margin:0;padding:0 1.5rem;font-family:inherit;color:inherit;font-size:inherit;height:50px;background-color:#222;border:2px solid #111;outline:0
}
.title>small[data-v-4efd1397]{font-size:0.75em
}
.title>small>a[data-v-4efd1397]{color:inherit;text-decoration:none;outline:0
}
.meta[data-v-4efd1397]{margin:0 auto 1.5rem;font-size:0.75em
}
.wrapper[data-v-4efd1397],.toolbar[data-v-4efd1397]{max-width:1400px;width:100%
}
.wrapper[data-v-4efd1397]{display:-webkit-box;display:-ms-flexbox;display:flex;border-left:2px solid #111;border-right:2px solid #111
}
.wrapper>div[data-v-4efd1397]{width:calc(50% - 100px)
}
.wrapper>div.frames[data-v-4efd1397]{position:relative;width:200px
}
.toolbar[data-v-4efd1397]{display:-webkit-box;display:-ms-flexbox;display:flex;background:#222;font-size:1.25em;border-top:2px solid #111;border-bottom:2px solid #111
}
.toolbar>div[data-v-4efd1397]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:33.33333%
}
.toolbar>div[data-v-4efd1397]:nth-child(2){-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.toolbar>div[data-v-4efd1397]:nth-child(3){-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end
}
.toolbar button[data-v-4efd1397],.toolbar input[data-v-4efd1397],.toolbar label[data-v-4efd1397]{margin:0;padding:0 1.5rem;font-family:inherit;font-size:inherit;height:50px;background-color:#222;color:inherit;border:0;outline:0;border-left:2px solid #111
}
.toolbar button[data-v-4efd1397]:last-child,.toolbar input[data-v-4efd1397]:last-child,.toolbar label[data-v-4efd1397]:last-child{border-right:2px solid #111
}
.toolbar button[data-v-4efd1397]{cursor:pointer;-webkit-transition:background-color ease-out .15s, opacity ease-out .15s;transition:background-color ease-out .15s, opacity ease-out .15s;will-change:background-color, opacity
}
.toolbar button.active[data-v-4efd1397],.toolbar button[data-v-4efd1397]:hover{background-color:#333
}
.toolbar button.warning[data-v-4efd1397]{background-color:#822
}
.toolbar button[disabled][data-v-4efd1397]{opacity:.5;cursor:default
}
.toolbar button[disabled][data-v-4efd1397]:hover{background-color:#222
}
.toolbar input[type=color][data-v-4efd1397]{width:5rem;padding:0 0.25rem;cursor:pointer
}
.toolbar input[type=number][data-v-4efd1397]{width:6rem;border-left:0
}
.toolbar input[type=number][data-v-4efd1397]::-webkit-inner-spin-button{opacity:1
}
.toolbar label[data-v-4efd1397]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-right:0
}


.profile[data-v-2d14956b]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%
}
.meta[data-v-2d14956b]{text-align:center
}
.meta>h1[data-v-2d14956b]{font-size:2.5em;margin:4.5rem auto 1.5rem
}
.meta>p[data-v-2d14956b]{font-size:0.75em;margin:0
}


/*# sourceMappingURL=main.e0ba90ce578c22ec24b2ea673e2ec69b.css.map*/